*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
.menu_bg{
    position: absolute !important;
    width: 100%;
    height: 92px;
    background-color:#1C1E53;
}

a.nav-link{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0 15px !important;
    font-weight: 500;
    color: #fff !important;
  
}
 a.nav-link:hover{
    background-color: #000;
    border-radius: 20px;
    color:#fff;
    transition: 0.5s;
}

.contact a{
    padding: 15px 32px !important;
    border: 2px solid rgba(244, 246, 252, 0.20);
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff ;

}
 .contact a:hover{
    background-color: #000;
    border-radius: 20px;
    color:#fff;
    transition: 0.5s;
}

